{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>First Page</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
	<script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
	<script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
	<script src="{% static 'home/javascript.js' %}"></script>
	<script>
		$(window).load(function() {
			// Animate loader off screen
			$(".loadpage").fadeOut(3000);;
		});
		$(function() {
			$( "#accordion-menu" ).accordion({
				collapsible: true,
				active: false
			});
		});
	</script>
	<style type="text/css">
		.teks{
			background-color: white;
		}

		.judul{
			background-color: #FCD75D;
		}
		.loadpage {
			position: fixed;
			left: 0px;
			top: 0px;
			width: 100%;
			height: 100%;
			z-index: 9999;
			background: url("static/home/Preloader_4.gif") center no-repeat #fff;
		}
	</style>
</head>
<body id="all" style="background-image: linear-gradient(to right, #8FECDB, #ECE88F);">
	<div class="loadpage"></div>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<header class="judul">
		<div class="row">
			<div class="col-10">
				<br>
				<br>
				<h1 style="margin-left: 5%">Saffanah Fausta Lamis</h1>
			</div>
			<div class="col-2">
				<br>
				<button id="themechanger1" onclick="tema1()">Tema 1</button>
				<button id="themechanger2" onclick="tema2()">Tema 2</button>
			</div>
		</div>
	</header>
	<div style="margin: 5% 5%;">
		<div style="text-align: center;">
			<br>
			<img id="foto" src="https://image.ibb.co/jQsNjz/IMG_20180630_091308.jpg" height="400" class="responsive">
		</div>
		<div class="row" style="margin-top: 3%">
			<div class="col-7">
				<h2 class="judul" style="background-color: #FCD75D">Tentang</h2>
				<div class="teks">
					<div>
						<br>
						<p>Nama saya Saffanah Fausta Lamis, saya biasa dipanggil
						dengan nama Saffa. Saya merupakan anak pertama dari 
						tiga bersaudara yang lahir pada tanggal 27 Juni 1999
						di Cilegon. Saat ini saya sedang menempuh pendidikan
						di Universitas Indonesia jurusan Sistem Informasi. 
						Selain menempuh pendidikan di Universitas Indonesia, 
						saya juga mengikuti beberapa kegiatan di fakultas. 
						Seperti kegiatan organisasi dan juga kepanitiaan.
						</p>
						<br>
						<p>
						Saya merupakan pribadi yang mudah menyesuaikan 
						diri terhadap lingkungan baru dan dapat berkomunikasi
						baik dengan orang - orang di sekitar saya.Saya memiliki 
						ketertarikan terhadap teknologi dan juga desain. Saya 
						juga merupakan orang yang tertarik pada hal - hal baru. 
						Dan saya juga merupakan orang yang  memiliki hobi 
						menonton dan jalan - jalan. 
						</p>
						<br>
					</div>
				</div>
			</div>
			<div class="col-5" style="margin-top: 2%">
				<div id = "accordion-menu">
					<h4 class="judul">Aktivitas</h4>
			         <div class="teks">
			            <p>
			               Sebagai seorang mahasiswa Fakultas Ilmu Komputer semester 3 jurusan Sistem Informasi
			               di Universitas Indonesia.
			            </p>
			         </div>
			         <h4 class="judul">Pengalaman organisasi/kepanitiaan</h4>
			         <div class="teks">
			            <p>
			               DPM Fasilkom UI 2018 <br>
			               Kaderisasi OSIS SMA Negeri 5 Bandung <br>
			               COMPFEST X <br>
			               Betis Fasilkom <br>
			               Wisuda Genap Fasilkom UI 2017/2018 <br>
			            </p>
			         </div>
			         <h4 class="judul">Prestasi</h4>
			         <div class="teks">
			            <p>
			               Pernah menjuarain lomba angklung mewakili SMA Negeri 5 Bandung di Institut Teknologi Bandung (ITB).     
			            </p>
			         </div>
		    	</div>
	      </div>
		</div>
	</div>
</body>
</html>