<!DOCTYPE html>
<html>
<head>
	<title>Halo!</title>
</head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<body style="background: #F7F3BC">
	<div style="margin: 5% 5%">
		<header>
			<h1 id="judul">Hello apa kabar?</h1>
		</header>
		<div style="width: 60%">
			<form method="POST" action="{% url 'masukin_data' %}">
				{% csrf_token %}
				{{ status_form.as_p }}
			<button type="submit" value="submit" id="submit" class="btn btn-success">Submit</button>
			</form>
		</div>
		<br>
		<br>
		<div>
			<div style="width: 80%">
				<table class="table" border="#1F1E21" style="width: 100%">
					<tr bgcolor="#9EE49F">
						<th id="row_waktu" style="width: 30%">Waktu</th>
						<th style="width: 70%">Status</th>
					</tr>
					{% for e in data %}
						<tr bgcolor="#D3D1F7">
							<td>{{e.waktu}}</td>
							<td>{{e.status}}</td>
						</tr>
					{% endfor %}
				</table>
			</div>
		</div>
	</div>
</body>
</html>