{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Halaman subscribe</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body style="background-image: linear-gradient(to right, #8FECDB, #ECE88F);">
	{% csrf_token %}
	<div style="margin: 10% 20%">
		<center><h3>Subscribe to my page</h3></center>
		<form>
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" class="form-control" id="email" placeholder="insert your email">
			</div>
			<div class="form-group">
				<label for="name">Name</label>
				<input type="text" class="form-control" id="name" placeholder="insert your name">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" class="form-control" id="password" placeholder="insert your password">
			</div>
			Info : <span id="info"></span>
			<br>
		</form>
		<div style="margin-top: 5%"><button type="submit" class="btn btn-success" id="submitbtn">Submit</button></div>
	</div>
	<script>
		$('#email').keyup(function(){
			$.ajax({
				url: '/validasi?email=' + $('#email').val(),
				method: 'GET',
				success: function(response){
					if ($('#email').val() !== response.email) return;
					if (response.able) {
						$('#info').html('');
						$('#submitbtn').prop('disabled', false);
					}
					else{
						$('#info').html('Email yang dicantumkan sudah digunakan sebelumnya');
						$('#submitbtn').prop('disabled', true);
					}
				}
			});
		});
		$('#submitbtn').click(function(){
			$.ajax({
				url: '/daftar',
				method: 'POST',
				data: {
					name: $('#name').val(),
					email: $('#email').val(),
					password: $('#password').val(),
					csrfmiddlewaretoken: $('[name=csrfmiddlewaretoken]').val()
				},
				success: function(response){
					$('#info').html(response.message);
					$('#name').val('');
					$('#email').val('');
					$('#password').val('');
				},
				error: (xhr, status, error) => {
					 $('#info').html('Gagal menyimpan (' + JSON.parse(xhr.responseText).error[0] + ')');
				}
			});
		});
	</script>
</body>
</html>