<!DOCTYPE html>
<html>
<head>
	<title>Tabel list buku</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script>
		var counter = 0;
		function klikbintang(id){
			var bintang = $("#" + id).html();
			if (bintang.includes("grey")){
				$.ajax({
					url : "/add_counter",
					dataType : 'json',
					success : function(result){
						console.log(result)
						$("#" + id).html("<i class='fa fa-star-o' style= 'color:yellow'></i>");
						$(tulisan).html("Jumlah buku favorit : " + result);
					}
				})
			}
			else {
				$.ajax({
					url : "/min_counter",
					dataType : 'json',
					success : function(result){
						var counter = JSON.parse(result);
                    	console.log(result)
                    	$("#" + id).html("<i class='fa fa-star-o' style= 'color:grey'></i>");
                    	$(tulisan).html("Jumlah buku favorit : " + counter);
					}
				})
			}
		}
		$(document).ready(function(){
			bikintabel('quilting');

			$('#caributton').click(function(){
				var x = $('#dicari').val();
				bikintabel(x)
			})
		})
		function bikintabel(nama){
			$.ajax({
				url : "/data/?find=" + nama,
				success : function(result){
					$('#tabelbuku').empty();
					var atas = "<thead><tr><th>Photo</th><th>Book Title</th><th>Author</th><th>Publisher</th><th>Published Date</th><th>Description</th><th>Categories</th><th></th></tr></thead>";
					$("#tabelbuku").append(atas);
					result = result.items
					$("#tabelbuku").append("<tbody>");
					for (i = 0 ; i < result.length ; i++){
						var baris = "<tr><td>" + "<img src = '" + result[i].volumeInfo.imageLinks.thumbnail + "'>" + "</td><td>" + result[i].volumeInfo.title + "</td><td>" + result[i].volumeInfo.authors + "</td><td>" + result[i].volumeInfo.publisher + "</td><td>" + result[i].volumeInfo.publishedDate + "</td><td>" + result[i].volumeInfo.description + "</td><td>" + result[i].volumeInfo.categories + "</td><td>" + "<button class=bintang id='" + result[i].id + "' onclick='klikbintang(" + "\"" + result[i].id + "\""  + ")'><i class='fa fa-star-o' style= 'color:grey'></i></button></td></tr>";
						$("#tabelbuku").append(baris)
					}
					$("#tabelbuku").append("</tbody>");
				}
			})
		}
	</script>
</head>
<body style="background-color: #B0E0E6">
	<div style="margin: 2% 3%">
		{% if user.is_authenticated %}
			<center>
				<h4>
					<span>Halo {{user.username}} </span>
					<br>
					<span>Story 11</span>
				</h4>
				<span><a href="{% url 'logout' %}"><button>Log Out</button></a></span>
			</center>
		{% else %}
			<center>
				<span><a href="{% url 'social:begin' 'google-oauth2' %}"><button>Log in with Google</button></a></span>
			</center>
		{% endif %}
	</div>
	<div style="margin: 3% 10%">
		<h5 id=tulisan>Jumlah buku favorit : {{counter}}</h2>
		<input type="text" placeholder="Search.." name="search2" id="dicari">
		<button type="submit" id="caributton" ><i class="fa fa-search"></i></button>
		<br><br>
		<table id = "tabelbuku" class = "table table-striped table-dark"></table>
	</div>
</body>
</html>